article {
  max-width: 212px;
  margin: 60px auto 160px;

  @include tablet {
    max-width: $tablet-width;
  }
}

section {
  h3 {
    text-decoration: underline;

  @include tablet {
    width: 33%;
    }
  }

  &:not(:first-of-type) {
    margin: 60px 0 0;
  }

  h4, p, ul {
    margin: 25px 0 0;
  }

  @include tablet {
    display: flex;
  }
}

.cv-header {
  display: flex;
  justify-content: space-between;

  h1, h2 {
    font-size: 15px;
    display: inline
  }

  h2 {

  }

  svg {
    margin-right: 14px;
  }
}

.cv-header__dash {
  margin: 40px 0 25px;
}

.cv-education {
}

.cv-education__schools {
  @include tablet {
    width: 67%
  }
}

.cv-education__school {
  ul, li {
    margin-top: 25px;
  }

  li {
    @include tablet {
      width: 50%;
      margin: 0;
      div {
        max-width: 180px;
      }
      &:first-of-type {
        width: 60%;
      }
      &:not(:first-of-type) {
        width: 40%;
      }
    }
  }

  @include tablet {
    display: flex;
    margin: 0;

    &:not(:first-of-type) {
      margin: 26px 0 0;
    }
  }
}

.cv-performances {

}

.cv-performances__wrapper {

  @include tablet {
    width: 67%;

    h4 {
      max-width: 212px;
      margin: 0;
      &:not(:first-of-type) {
        margin: 60px 0 0;
      }
    }
  }
}

.cv-performances__performance {
  @include tablet {
    display: flex;
    margin: 25px 0 0;
  }
}

.cv-performances__description {

  &:not(:first-of-type) {
    margin: 60px 0 0;
  }

  @include tablet {
    width: 60%;

    p {
      max-width: 212px;
      margin: 0;
    }
  }
}

.cv-performances__dates {

  @include tablet {
    width: 40%;

    ul {
      margin: 0;

      &:not(:first-of-type) {
        margin: 25px 0 0;
      }
    }
  }
}

.cv-awards {

}

.cv-awards__wrapper {

  @include tablet {
    width: 67%;

    h4 {
      max-width: 212px;
      margin: 0;
      &:not(:first-of-type) {
        margin: 60px 0 0;
      }
    }
  }
}

.cv-awards__award {
  @include tablet {
    display: flex;
    margin: 25px 0 0;
  }
}

.cv-awards__description {

  &:not(:first-of-type) {
    margin: 60px 0 0;
  }

  @include tablet {
    width: 60%;

    p {
      max-width: 212px;
      margin: 0;
    }
  }
}

.cv-awards__dates {

  @include tablet {
    width: 40%;
    margin: 0;

    &:not(:first-of-type) {
      margin: 25px 0 0;
    }
  }
}

.cv-talks {

}

.cv-talks__wrapper {

  @include tablet {
    width: 67%;

    h4 {
      max-width: 212px;
      margin: 0;
      &:not(:first-of-type) {
        margin: 60px 0 0;
      }
    }
  }
}

.cv-talks__talk {
  @include tablet {
    display: flex;
    margin: 25px 0 0;
  }
}

.cv-talks__description {

  &:not(:first-of-type) {
    margin: 60px 0 0;
  }

  @include tablet {
    width: 60%;

    p {
      max-width: 212px;
      margin: 0;
    }
  }
}

.cv-talks__dates {

  @include tablet {
    width: 40%;
    margin: 0;

    &:not(:first-of-type) {
      margin: 25px 0 0;
    }
  }
}


.cv-work {
}

.cv-work__wrapper {

  @include tablet {
    width: 67%;

    h4 {
      max-width: 212px;
      margin: 0;
      &:not(:first-of-type) {
        margin: 60px 0 0;
      }
    }
  }
}

.cv-work__job {
  @include tablet {
    display: flex;
    margin: 25px 0 0;
  }
}

.cv-work__description {

  &:not(:first-of-type) {
    margin: 60px 0 0;
  }

  @include tablet {
    width: 60%;

    p {
      max-width: 212px;
      margin: 0;
    }
  }
}

.cv-work__dates {

  @include tablet {
    width: 40%;
    margin: 0;

    &:not(:first-of-type) {
      margin: 25px 0 0;
    }
  }
}