$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);

.main-nav {
  display: flex;
  justify-content: space-between;
}

.nav-work, .nav-info {
  display: inline-block;
}

.nav-work {
  cursor: pointer;
}

.nav-work {
  margin: 30px 0 0 23px;

  @include tablet {
    margin: 50px 0 0 43px;
  }

  @include laptop {
    margin: 65px 0 0 43px;
  }

  @include desktop {
    margin: 80px 0 0 60px;
  }
}

.nav-info {
  margin: 30px 23px 0 0;

  @include tablet {
    margin: 50px 43px 0 0;
  }

  @include laptop {
    margin: 65px 43px 0 0;
  }

  @include desktop {
    margin: 80px 60px 0 0;
  }
}

.menu-wrapper {
  // display: none; //temporary until I get the dropdown menu working
  // background-color: black;
  max-height: 2000px;
  height: auto;
  overflow: hidden;
  opacity: 1;

  -webkit-transition: all 0.6s $cubic, -webkit-transform 0.5s $cubic;
  transition: all 0.6s $cubic, -webkit-transform 0.5s $cubic;
  // -webkit-transition: opacity 0.6s  $cubic, -webkit-transform 0.5s $cubic;
  // transition: opacity 0.6s $cubic, -webkit-transform 0.5s $cubic;
  // -webkit-transition-delay: 0.3s;
  //  -o-transition-delay: 0.3s;
  //     transition-delay: 0.3s;
}

.menu {
  max-width: 250px;
  text-align: center;
  margin: 90px auto;

  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

  li {
    &:not(:first-child){
      margin: 50px 0 0;
    }
  }

  @include tablet {
    max-width: 500px;
    margin: 150px auto 0;

    li {
      &:not(:first-child){
        margin: 80px 0 0;
      }
    }
  }

  @include laptop {
    max-width: 650px;

    li {
      &:not(:first-child){
        margin: 90px 0 0;
      }
    }
  }

  @include desktop {
    max-width: 1050px;

    li {
      &:not(:first-child){
        margin: 130px 0 0;
      }
    }
  }

}

.menu-invisible {
  max-height: 0;
  opacity: 0;
}