$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);

.main-nav {
  pointer-events: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  z-index: 101;

  -webkit-transition: all 0.2s $cubic;//, -webkit-transform 0.5s $cubic;
  transition: all 0.2s $cubic;//, -webkit-transform 0.5s $cubic;
}

.nav-hidden {
  opacity: 0;
}

.nav-work, .nav-info {
  display: inline-block;
  pointer-events: all;
}

.nav-work {
  cursor: pointer;
}

.nav-home {
  display: none;
}

.nav-work,.nav-home {
  margin: 30px 0 0 23px;

  @include tablet {
    margin: 50px 0 0 43px;
  }

  @include laptop {
    margin: 65px 0 0 43px;
  }

  @include desktop {
    margin: 80px 0 0 60px;
  }
}

.nav-info {
  margin: 30px 23px 0 0;

  @include tablet {
    margin: 50px 43px 0 0;
  }

  @include laptop {
    margin: 65px 43px 0 0;
  }

  @include desktop {
    margin: 80px 60px 0 0;
  }
}

.menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 2000px;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; //adds physics on scroll
  opacity: 1;
  width: 100%;
  z-index: 100;

  background-color: black;
  background-size: cover;
  background-position: center;

  &::-webkit-scrollbar { 
    display: none; 
  }

  -webkit-transition: all 0.6s $cubic, -webkit-transform 0.5s $cubic;
  transition: all 0.6s $cubic, -webkit-transform 0.5s $cubic;
}

.menu {
  text-align: center;
  margin: 0 auto;

  h2 {
    max-width: 250px;
    margin: auto;
    text-transform: uppercase;
  }

  li {
    &:first-child {
      padding: 150px 0 25px;
    }

    &:not(:first-child){
      padding: 25px 0 25px;
    }
  }

  @include tablet {

    h2 {
      max-width: 500px;
      margin: auto;
    }

    li {
      &:first-child {
        padding: 250px 0 40px;
      }

      &:not(:first-child){
        padding: 40px 0 40px;
      }
    }
  }

  @include laptop {

    h2 {
      max-width: 650px;
      margin: auto;
    }

    li {
      &:first-child {
        padding: 200px 0 45px;
      }

      &:not(:first-child){
        padding: 45px 0 45px;
      }
    }
  }

  @include desktop {

    h2 {
      max-width: 1050px;
      margin: auto;
    }

    li {
      &:first-child {
        padding: 275px 0 65px;
      }
      &:not(:first-child){
        padding: 65px 0 65px;
      }
    }
  }
}

.menu-item {
  a {
    display: inline-block;
  }
}

.menu-item__image {
  width: 212px;

  @include tablet {
    width: 500px;
  }

  @include laptop {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.menu-item__bgimage {
  position: fixed;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
  opacity: 0;
  background-size: cover;
  background-position: center;

  pointer-events: none;

  -webkit-transition: opacity 0.6s $cubic;
  transition: opacity 0.6s $cubic;
}

.menu-invisible {
  max-height: 0;
  opacity: 0;
}

@keyframes example {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.svg-wrapper {
  position: fixed;
  right: 25px;
  bottom: 40px;
  width: 30px;

  @include tablet {
    width: 60px;
    right: 70px;
    bottom: 70px; 
  }

  @include laptop {
    width: 42px;
    right: 135px;
    bottom: 100px;
  }

  @include desktop {
    width: 62px;
    right: 170px;
    bottom: 70px;
  }

  svg {
    transform: rotate(270deg);
    width: 100%;
    height: auto;
        animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;

  }
} 

.no-overflow {
  overflow: hidden;
  height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}