.info {
  max-width: 300px;
  margin: 90px auto 0;

  @include tablet {
    max-width: 700px;
    margin: 140px auto 0;
  }

  @include laptop {
    display: flex;
    align-items: start; 
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 55px;

    max-width: $laptop-width * 1.45;
    margin: 240px auto 0;
  }

  @include desktop {
    display: flex;
    align-items: start; 
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 55px;

    max-width: $desktop-width * 1.45;
    margin: 240px auto 0;
  }
}

.info-img {

  @include tablet {
    //position: absolute;
    //width: 348px;
    //top: 240px;
    //left: 150px;
    //width: 100%;
  }

  @include laptop {
    //position: absolute;
    width: 42%;
    height: auto
    //top: 0;
    //left: 250px;
  }

  @include desktop {
    //position: relative;
    //width: 800px;
    width: 42%;
    height: auto
    //top: 244px;
    //left: 50px;
  }
}

.info-text {
  //margin: 30px 0 0;
  //font-size: 10px; // Add or modify this line to control the font size
  //line-height: 1.4; // Add this line to control the line spacing

  h1 {
    margin: 20px 10px;
    font-size: 14px;
  }

  h2 {
    margin: 20px 10px;
    font-size: 12px; 
  }

  h3 {
    margin: 10px 10px;
    font-size: 12px; 
    line-height: 13px;
  }


  @include tablet {


    h1 {
      margin: 40px 10px;
      font-size: 24px;
    }
  
    h2 {
      margin: 40px 10px;
      font-size: 22px; 
    }

    h3 {
      margin: 20px 10px;
      font-size: 22px;
    }

  }

  @include laptop {
    margin: 0;
    width: 1000px;

    h1 {
      margin: 10px 0;
      font-size: 19px; 
    }
  
    h2 {
      margin: 20px 0;
      font-size: 17px; 
    }

    h3 {
      margin: 20px 0;
      font-size: 17px; 
    }

  }

  @include desktop {
    margin: 0;
    width: 100%;

    h1 {
      margin: 10px 0;
      font-size: 24px; 
    }
  
    h2 {
      margin: 30px 0;
      font-size: 22px;
    }

    h3 {
      margin: 30px 0;
      font-size: 22px; 
      line-height: 13px;
    }

    h4 {
      margin: 30px 0;
      font-size: 60px; 
    }

  }
}

#dontclick {
  display: none;

  @include greater_than_tablet {
    display: block;
  }
}