article {
  max-width: 212px;
  margin: 110px auto 0;

  @include tablet {
    max-width: $tablet-width;
    margin: 0;
    position: relative;
  }

  @include laptop {
    max-width: $laptop-width;
    margin: 0;
    position: relative;
  }

  @include desktop {
    max-width: $desktop-width;
    margin: 0;
    position: relative;
  }
}

.about-img {

  @include tablet {
    position: absolute;
    width: 348px;
    top: 240px;
    left: 150px;
  }

  @include laptop {
    position: absolute;
    width: 348px;
    top: 0;
    left: 250px;
  }

  @include desktop {
    position: absolute;
    width: 562px;
    top: 0;
    left: 300px;
  }
}

.about-text {
  margin: 30px 0 0;

  @include tablet {
    margin: 0;
    position: absolute;
    left: 35px;
    top: 285px;
    width: 212px;
  }

  @include laptop {
    margin: 0;
    position: absolute;
    width: 282px;
    left: 43px;
    top: 175px;
  }

  @include desktop {
    margin: 0;
    position: absolute;
    width: 416px;
    top: 240px;
    left: 70px;
  }
}

.about-contacts {

  @include tablet {
    position: absolute;
    left: 525px;
    top: 380px;
  }

  @include laptop {
    position: absolute;
    top: 240px;
    left: 700px;
  }

  @include desktop {
    position: absolute;
    left: 1025px;
    top: 400px;
  }

  h3 {
    margin: 25px 0 0;
    text-decoration: underline;
  }

  a {
    margin: 25px 0 0;
    display: block;
  }
}