.teaching {
  // phone style??
  max-width: 300px;
  margin: 50px auto;

  @include tablet {
    max-width: 700px;
    margin: 60px auto 160px;
  }
  @include laptop {
    max-width: 920px;
    margin: 90px auto 80px;
  }
  @include desktop {
    max-width: 1260px;
    margin: 130px auto 100px;
  }
}

.teaching-header {
  display: flex;
  justify-content: space-between;

  h1, h2 {
    font-size: 15px;
    display: inline;

    @include desktop {
      font-size: 24px;
    }
  }

  svg {
    margin-right: 14px;
  }
}

.teaching-courses {
  
  h3 {
    text-decoration: underline;
    font-size: 20px;
  }

  @include tablet {
    h3 {
      font-size: 25px;
    }
  }

  @include laptop {
    h3 {
      font-size: 30px;
    }
  }
  @include desktop {
    h3 {
      font-size: 32px;
    }
  }

}

.teaching-header__dash {
  margin: 40px 0 25px;
}

.teaching-wrapper {

  @include greater_than_tablet {
    width: 67%;

    h4 {
      max-width: 212px;
      margin: 0;
      &:not(:first-of-type) {
        margin: 60px 0 0;
      }
    }

    h5 {
      margin: 10px auto 0;
    }
  }

  @include laptop {
    h4 {
      max-width: 282px;
    }
  }

  @include desktop {
    h4 {
      max-width: 416px;
    }
  }
}

@media print {
  body {
    color: black;
  }

  .teaching-header {
    a:not(:first-of-type) {
      display: none;
    }
  }
}