.cv {
  max-width: 212px;
  margin: 50px auto;

  @include tablet {
    max-width: 700px;
    margin: 60px auto 160px;
  }
  @include laptop {
    max-width: 920px;
    margin: 90px auto 80px;
  }
  @include desktop {
    max-width: 1260px;
    margin: 130px auto 100px;
  }
}

.cv-education,.cv-performances, .cv-awards, .cv-talks, .cv-work, .cv-teaching {
  h3 {
    text-decoration: underline;

  @include greater_than_tablet {
    width: 33%;
    }
  }

  &:not(:first-of-type) {
    margin: 60px 0 0;
  }

  h4, p, ul {
    margin: 25px 0 0;
  }

  @include greater_than_tablet {
    display: flex;

    h4, p, ul {
      margin: 0;
    }
  }
}

.cv-header {
  display: flex;
  justify-content: space-between;

  h1, h2 {
    font-size: 15px;
    display: inline;

    @include desktop {
      font-size: 24px;
    }
  }

  h2 {

  }

  svg {
    margin-right: 14px;
  }
}

.cv-header__dash {
  margin: 40px 0 25px;
}

.cv-education__schools {
  @include tablet {
    width: 67%
  }

  @include laptop {
    width: 67%;
  }

  @include desktop {
    width: 67%;
  }

  ul, li {
    &:not(:first-of-type) {
      margin-top: 25px;
    }
  }
}

.cv-education__school {

  li {
    @include tablet {
      width: 50%;
      div {
        max-width: 180px;
      }
      &:first-of-type {
        width: 60%;
      }
      &:not(:first-of-type) {
        width: 40%;
        margin: 0;
      }
    }
    @include laptop {
      width: 50%;
      margin: 0;
      div {
        max-width: 282px;
      }
      &:first-of-type {
        width: 60%;
      }
      &:not(:first-of-type) {
        width: 40%;
        margin: 0;
      }
    }

    @include desktop {
      width: 50%;
      margin: 0;
      div {
        max-width: 416px;
      }
      &:first-of-type {
        width: 60%;
      }
      &:not(:first-of-type) {
        width: 40%;
        margin: 0;
      }
    }
  }

  @include tablet {
    display: flex;
    margin: 0;

    &:not(:first-of-type) {
      margin: 26px 0 0;
    }
  }

  @include laptop {
    display: flex;
    margin: 0;

    &:not(:first-of-type) {
      margin: 26px 0 0;
    }
  }

  @include desktop {
    display: flex;
    margin: 0;

    &:not(:first-of-type) {
      margin: 26px 0 0;
    }
  }
}

.cv-wrapper {

  @include greater_than_tablet {
    width: 67%;

    h4 {
      max-width: 212px;
      margin: 0;
      &:not(:first-of-type) {
        margin: 60px 0 0;
      }
    }

    h5 {
      margin: 10px auto 0;
    }
  }

  @include laptop {
    h4 {
      max-width: 282px;
    }
  }

  @include desktop {
    h4 {
      max-width: 416px;
    }
  }
}

.cv-item {
  @include greater_than_tablet {
    display: flex;
    margin: 25px 0 0;
  }
}

.cv-description {

  &:not(:first-of-type) {
    margin: 60px 0 0;
  }

  @include greater_than_tablet {
    width: 60%;

    p {
      max-width: 212px;
      margin: 0;
    }
  }

  @include laptop {
    p {
      max-width: 282px;
    }
  }

  @include desktop {
    p {
      max-width: 416px;
    }
  }
}

.cv-dates {

  @include greater_than_tablet {
    width: 40%;
      margin: 0;

      .cv-date {
        &:not(:first-of-type) {
          margin: 25px 0 0;
        }
      }
  }
}

@media print {
  body {
    color: black;
  }

  .cv-header {
    a:not(:first-of-type) {
      display: none;
    }
  }
}