<!DOCTYPE html>
<html>
{% capture style %}{% include cv.scss %}{% endcapture %}
{% include head.html %}
<body>
  <article class="cv">
    <header class="cv-header">
      <a href="{{ site.url }}"><h1>Matt Romein</h1></a>
      <a href="javascript:history.back()">{% include arrow.svg %}<h2>back</h2></a>
    </header>
    <div class="cv-header__dash">ㅡ</div>
    <section class="cv-education">
      <h3>Education</h3>
      <div class="cv-education__schools">
        {% for school in page.education %}
        <ul class="cv-education__school">
          <li><div>{{ school.name }}</div></li>
          <li>{{ school.year }}</li>
        </ul>
        {% endfor %}
      </div>
    </section>
    <section class="cv-performances">
      <h3>Selected Shows & Performances</h3>
      <div class="cv-wrapper">
        {% for performance in page.performances%}
        <h4>{{ performance.name }}</h4>
        <div class="cv-item">
          <div class="cv-description">
            <p>{{ performance.description }}</p>
          </div>
          <ul class="cv-dates">
            {% for date in performance.dates %}
            <li class="cv-date">
              <ul>
                <li>{{ date.date }}</li>
                <li>{{ date.event }}</li>
                {% if date.venue %}<li>{{ date.venue }}</li>{% endif %}
                <li>{{ date.location }}</li>
              </ul>
            {% endfor %}
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>
    </section>
    <section class="cv-awards">
      <h3>Grants & Residencies</h3>
      <div class="cv-wrapper">
        {% for award in page.awards %}
        <h4>{{ award.name }}</h4>
        <div class="cv-item">
          <div class="cv-description">
            <p>{{ award.description }}</p>
          </div>
          <ul class="cv-dates">
            <li>{{ award.date }}</li>
            <li>{{ award.place }}</li>
            <li>{{ award.location }}</li>
          </ul>
        </div>
        {% endfor %}
      </div>
    </section>
    <section class="cv-talks">
      <h3>Talks</h3>
        <div class="cv-wrapper">
        {% for talk in page.talks %}
          <h4>{{ talk.name }}</h4>
          <div class="cv-item">
            <div class="cv-description">
              <p>{{ talk.description }}</p>
            </div>
            <ul class="cv-dates">
              <li>{{ talk.date }}</li>
              <li>{{ talk.place }}</li>
              <li>{{ talk.location }}</li>
            </ul>
          </div>
        {% endfor %}
      </div>
    </section>

    <section class="cv-teaching">
      <h3>Teaching</h3>
      <div class="cv-wrapper">
        {% for class in page.teaching%}
        <h4>{{ class.name }}</h4>
        <div class="cv-item">
          <div class="cv-description">
            <p>{{ class.description }}</p>
          </div>
          <ul class="cv-dates">
            {% for date in class.dates %}
            <li class="cv-date">
              <ul>
                <li>{{ date.date }}</li>
                <li>{{ date.event }}</li>
                {% if date.venue %}<li>{{ date.venue }}</li>{% endif %}
                <li>{{ date.location }}</li>
              </ul>
            {% endfor %}
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>
    </section>
    <section class="cv-work">
      <h3>Related Work Experience</h3>
        <div class="cv-wrapper">
        {% for work in page.work %}
        <h4>{{ work.place }}</h4>
        <h5>{{ work.role }}</h5>
        <div class="cv-item">
          <div class="cv-description">
            <p>{{ work.description }}</p>
          </div>
          <ul class="cv-dates">
            <li>{{ work.date }}</li>
            <li>{{ work.location }}</li>
          </ul>
        </div>
        {% endfor %}
      </div>
    </section>
  </article>
</body>
</html>