<!DOCTYPE html>
<html>
{% capture style %}{% include cv.scss %}{% endcapture %}
{% include head.html %}
<body>
  <article class="cv">

    <header class="cv-header">
      <h1>CV</h1>
      <a href="javascript:history.back()">{% include arrow.svg %}<h2>back</h2></a>
    </header>
    <div class="cv-header__dash">----</div>

    <div class="cv-embed">
     <iframe class="cv-embed__doc" src="https://docs.google.com/document/d/e/2PACX-1vTaD7YWAk2g6xtSa2tzmbem7Cd53_NFpcnsvoOl0Ddz7Q-ssuLPXKkbrxcgsjEmmGqMx2IPnIOLKwpJ/pub?embedded=true"></iframe>
    </div>

  </article>
</body>
</html>