<!DOCTYPE html>
<html>
{% capture style %}{% include home.scss %}{% endcapture %}
{% include head.html %}
<body>
{% include header.html %}
<!--   <div class="home-title__container">
    <h1 class="home-title">MATT ROMEIN</h1>
  </div> -->
  <canvas id="bg-canvas"></canvas>
</body>
<script type="text/javascript">
  var loader = PIXI.loader;

  loader.add("bgVideo", "assets/reel2014.mp4")
    .add("largeMask", "assets/large_mask.png")
    .add("smallMask", "assets/small_mask.png");

  loader.onLoad.add(function(){
    console.log("add loading functionality here");
  });

  loader.onComplete.add(function(){
    console.log("hide loader with this");
  })

  loader.load(function(loader, resources){

    function whichImage(){
      if(window.innerWidth > 1024){
        ratio = resources.largeMask.texture.height / resources.largeMask.texture.width;
        return resources.largeMask.texture;
      } else {
        ratio = resources.smallMask.texture.height / resources.smallMask.texture.width;
        return resources.smallMask.texture;
      }
    }

    var canvas = document.getElementById("bg-canvas");
    var renderer = PIXI.autoDetectRenderer(window.innerWidth, window.innerHeight, { 
      antialias: true,
      view: canvas,
      autoResize: true
    });

    resources.bgVideo.data.loop = true;
    var stage = new PIXI.Container();
    var texture = PIXI.Texture.fromVideo(resources.bgVideo.data);


    var bg = new PIXI.Sprite(texture);

    bg.anchor.x = 0.5;
    bg.anchor.y = 0.5;

    bg.position.x = renderer.width / 2;
    bg.position.y = renderer.height / 2;

    stage.addChild(bg);

    var bgFront = new PIXI.Sprite(texture);
    bgFront.width *= 1.2;
    bgFront.height *= 1.2;

    bgFront.anchor.x = 0.5;
    bgFront.anchor.y = 0.5;

    bgFront.position.x = renderer.width / 2;
    bgFront.position.y = renderer.height / 2;

    stage.addChild(bgFront);

    var thing = new PIXI.Sprite(whichImage());

    var ratio = thing.height / thing.width;
    thing.width = window.innerWidth * 0.8;
    thing.height = ratio * thing.width;
    thing.anchor.set(0.5, 0.5);
    thing.position.x = renderer.width / 2;
    thing.position.y = renderer.height / 2;

    bgFront.mask = thing;
    stage.addChild(thing);

    animate();

    function animate(){
        renderer.render(stage);
        requestAnimationFrame(animate);
    }

    function resize(){
      var width = window.innerWidth;
      var height = window.innerHeight;

      if(texture.width < width){
        var bgratio = texture.height / texture.width;
        bg.width = bgFront.width = renderer.width;
        bg.height = bgFront.height = bg.width * bgratio;
      } else {
        bg.width = bgFront.width = texture.width;
        bg.height = bgFront.height = texture.height;
      }

      bgFront.width *= 1.2;
      bgFront.height *= 1.2;

      thing.texture = whichImage();
      thing.width = width * 0.8;
      thing.height = ratio * thing.width;

      thing.position.x = width / 2;
      thing.position.y = height / 2;
      bgFront.position.x = width / 2;
      bgFront.position.y = height / 2;
      bg.position.x = width / 2;
      bg.position.y = height / 2;

      // renderer.width = width;
      // renderer.height = height;
      // console.log(renderer.width)
      renderer.resize(width, height)
    }

    resize();

    window.onresize = resize;
  });
</script>
</html>