<!DOCTYPE html>
<html>
{% capture style %}{% include info.scss %}{% endcapture %}
{% include head.html %}
<body>
{% include header.html %}
<article>
  <img class="about-img" src="{{ site.url }}/assets/texturemap.jpg">
  <section class="about-text">
  <p>Matt Romein is a coder / performer / artist, straddling the worlds of downtown performance and new media art.</p>
  <p>He is the technical director for the Obie award-winning performance series CATCH and has designed for Neal Medlyn, GRANDMA, Piehole, The AO Movement Collective, and others.</p>
  <p>His own work examines how our concepts of identity, autonomy and corporeality are shifted when physical bodies are manipulated in digital spaces.</p>
  <p>He received his masters in creative coding and physical computing from ITP at Tisch School of the Arts.</p>
  </section>
  <section class="about-contacts">
    <h3>Contact</h3>
    <a href="mailto:matt.romein@gmail.com">matt.romein@gmail.com</a>
    <h3>Instagram</h3>
    <a href="https://www.instagram.com/header_munging/">header_munging</a>
  </section>
</article>
</body>
</html>