<!DOCTYPE html>
<html>
<!-- {% capture style %}{% include info.scss %}{% endcapture %} -->
{% include head.html %}
<body>
{% include header.html %}
<article class="info">
  <img class="info-img" src="{{ site.url }}/assets/texturemap.jpg">
  <section class="info-text">
    {{ content }}
  </section>
  <section class="info-contacts">
    <h3><a href="{{ "cv" | absolute_url }}">Curriculum Vitae</a></h3>
    <h3><a href="mailto:matt.romein@gmail.com">Contact</a></h3>
    <h3><a target="_blank" href="https://www.instagram.com/header_munging/">Instagram</a></h3>
    <h3><a id="dontclick">Please don't click!</a></h3>
  </section>
</article>
</body>
<footer>
  <style type="text/css">
    canvas {
      pointer-events: none;
      z-index: 1;
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    a {
      cursor: pointer;
    }
  </style>
  <script type="text/javascript">
    function ChromaFilter() {
      var vertexShader = null;
      var fragmentShader = "\
      vec3 rgb2hsv(vec3 c)\
      {\
          vec4 K = vec4(0.0, -1.0 / 3.0, 2.0 / 3.0, -1.0);\
          vec4 p = mix(vec4(c.bg, K.wz), vec4(c.gb, K.xy), step(c.b, c.g));\
          vec4 q = mix(vec4(p.xyw, c.r), vec4(c.r, p.yzx), step(p.x, c.r));\
      \
          float d = q.x - min(q.w, q.y);\
          float e = 1.0e-10;\
          return vec3(abs(q.z + (q.w - q.y) / (6.0 * d + e)), d / (q.x + e), q.x);\
      }\
      \
      float chromaKey(vec3 color)\
      {\
        vec3 backgroundColor = vec3(0.08, .65, 0.08);\
        vec3 weights = vec3(4., .6, 2.);\
        \
        vec3 hsv = rgb2hsv(color);\
        vec3 target = rgb2hsv(backgroundColor);\
        float dist = length(weights * (target - hsv));\
        return 1. - clamp(3. * dist - 1.5, 0., 1.);\
      }\
      \
      precision mediump float;\
      varying vec2 vTextureCoord;\
      uniform sampler2D uSampler;\
      uniform vec4 dimensions;\
      \
      void main()\
      {\
        vec4 color = texture2D(uSampler, vTextureCoord);\
        vec4 bg = vec4(0.0, 0.0, 0.0, 0.0);\
        float incrustation = chromaKey(color.rgb);\
        gl_FragColor = mix(gl_FragColor, color, 1. - incrustation);\
      }\
      "

      var uniforms = {};

      PIXI.Filter.call(this, vertexShader, fragmentShader);

      this.uniforms.thresholdSensitivity = 0.4;
      this.uniforms.smoothing = 0.1;
      this.uniforms.colorToReplace = [(37 / 255), (255 / 255), (10 / 255)];
    }

    ChromaFilter.prototype = Object.create(PIXI.Filter.prototype);
    ChromaFilter.prototype.constructor = ChromaFilter;

    var app = new PIXI.Application(window.innerWidth, window.innerHeight, { antialias: true, transparent: true });
    document.body.appendChild(app.view);

    var videoURLs = ["{{ "assets/naked/1.mp4" | absolute_url }}", "{{ "assets/naked/2.mp4" | absolute_url }}", "{{ "assets/naked/3.mp4" | absolute_url }}", "{{ "assets/naked/4.mp4" | absolute_url }}", "{{ "assets/naked/5.mp4" | absolute_url }}", "{{ "assets/naked/6.mp4" | absolute_url }}", "{{ "assets/naked/7.mp4" | absolute_url }}", "{{ "assets/naked/8.mp4" | absolute_url }}", "{{ "assets/naked/9.mp4" | absolute_url }}", "{{ "assets/naked/10.mp4" | absolute_url }}", "{{ "assets/naked/11.mp4" | absolute_url }}", "{{ "assets/naked/12.mp4" | absolute_url }}", "{{ "assets/naked/13.mp4" | absolute_url }}", "{{ "assets/naked/14.mp4" | absolute_url }}"];

    var video = document.createElement("video");
    video.setAttribute('playsinline', 'playsinline');
    video.preload = "auto";
    video.muted = true;
    video.autoplay = true;
    video.oncanplay = addToPIXI;

    var first = true;
    var manyFirst = true;

    var manyVideo = document.createElement("video");
    manyVideo.setAttribute('playsinline', 'playsinline');
    manyVideo.preload = "auto";
    manyVideo.muted = true;
    manyVideo.autoplay = false;
    manyVideo.oncanplay = addManyToPIXI;
    manyVideo.src = "{{ "assets/naked/bodies.mp4" | absolute_url }}";

    var dontclick = document.getElementById("dontclick");
    dontclick.addEventListener("click", function(){
      manyVideo.play();
    });

    video.src = videoURLs[Math.floor(Math.random() * 14)];
    // video.src = "{{ "assets/naked/bodies.mp4" | absolute_url }}"

    video.onended = function(){
      var src = videoURLs[Math.floor(Math.random() * 14)];
      if(video.src !== src) {
        video.src = src;
        console.log(video.src)
      } else {
        console.log("double!")
        video.onended();
      }
    }

    var texture = PIXI.Texture.fromVideo(video);
    var bg = new PIXI.Sprite(texture);

    var manyTex = PIXI.Texture.fromVideo(manyVideo);
    var manybg = new PIXI.Sprite(manyTex);

    function addToPIXI() {
        if(first){
          bg.anchor.x = 0.5;
          bg.anchor.y = 0.5;

          bg.position.x = app.renderer.width / 2;
          bg.position.y = app.renderer.height / 2;

          app.stage.addChild(bg);
          var filter = new ChromaFilter();

          bg.filters = [filter];
          first = false;
          window.setTimeout(resize, 300)
        }
    }

    function addManyToPIXI() {
        if(manyFirst){
          manybg.anchor.x = 0.5;
          manybg.anchor.y = 0.5;

          manybg.position.x = app.renderer.width / 2;
          manybg.position.y = app.renderer.height / 2;

          app.stage.addChild(manybg);
          var filter = new ChromaFilter();

          manybg.filters = [filter];
          manyFirst = false;
          window.setTimeout(resize, 300)
          window.setTimeout(function(){
            manyVideo.pause();
          }, 200);
        }
    }


    function resize(){
      var width = window.innerWidth;
      var height = window.innerHeight;
      app.renderer.resize(width, height)

      if(texture.width/texture.height <= width/height){
        var bgratio = texture.height / texture.width;
        bg.width = manybg.width = app.renderer.width;
        bg.height = manybg.height = app.renderer.width * bgratio;
      } else {
        var bgratio = texture.height / texture.width;
        bg.height = manybg.height = app.renderer.height;
        bg.width = manybg.width = app.renderer.height / bgratio;
      }

      bg.position.x = manybg.position.x = width / 2;
      bg.position.y = manybg.position.y = height / 2;
    }
    window.addEventListener("resize", resize);

  </script>
</footer>
</html>