<!DOCTYPE html>
<html>
<!-- {% capture style %}{% include info.scss %}{% endcapture %} -->
{% include head.html %}
<body>
{% include header.html %}
<article class="info">
  <img class="info-img" src="{{ site.url }}/assets/texturemap.jpg">
  <section class="info-text">
    {{ content }}
  </section>
  <section class="info-contacts">
    <h3><a href="{{ "cv" | absolute_url }}">Curriculum Vitae</a></h3>
    <h3><a href="mailto:matt.romein@gmail.com">Contact</a></h3>
    <h3><a target="_blank" href="https://www.instagram.com/header_munging/">Instagram</a></h3>
    <h3><a id="dontclick">Please don't click!</a></h3>
  </section>
</article>
</body>
<footer>
  <style type="text/css">
    canvas {
      pointer-events: none;
      z-index: 1;
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    a {
      cursor: pointer;
    }
  </style>
  <script type="text/javascript">
    function ChromaFilter() {
      var vertexShader = null;
      // var fragmentShader = "\
      // vec3 rgb2hsv(vec3 c)\
      // {\
      //     vec4 K = vec4(0.0, -1.0 / 3.0, 2.0 / 3.0, -1.0);\
      //     vec4 p = mix(vec4(c.bg, K.wz), vec4(c.gb, K.xy), step(c.b, c.g));\
      //     vec4 q = mix(vec4(p.xyw, c.r), vec4(c.r, p.yzx), step(p.x, c.r));\
      // \
      //     float d = q.x - min(q.w, q.y);\
      //     float e = 1.0e-10;\
      //     return vec3(abs(q.z + (q.w - q.y) / (6.0 * d + e)), d / (q.x + e), q.x);\
      // }\
      // \
      // float chromaKey(vec3 color)\
      // {\
      //   vec3 backgroundColor = vec3(0.08, .65, 0.08);\
      //   vec3 weights = vec3(4., .6, 2.);\
      //   \
      //   vec3 hsv = rgb2hsv(color);\
      //   vec3 target = rgb2hsv(backgroundColor);\
      //   float dist = length(weights * (target - hsv));\
      //   return 1. - clamp(3. * dist - 1.5, 0., 1.);\
      // }\
      // \
      // precision mediump float;\
      // varying vec2 vTextureCoord;\
      // uniform sampler2D uSampler;\
      // uniform vec4 dimensions;\
      // \
      // void main()\
      // {\
      //   vec4 color = texture2D(uSampler, vTextureCoord);\
      //   vec4 bg = vec4(0.0, 0.0, 0.0, 0.0);\
      //   float incrustation = chromaKey(color.rgb);\
      //   gl_FragColor = mix(gl_FragColor, color, 1. - incrustation);\
      // }\
      // "

      var fragmentShader = `
      // Tune threshold to adjust edge
#define MIN_THRESHOLD 0.04
#define MAX_THRESHOLD 0.105

// Key color in sRGB
#define KEY_COLOR vec3(0.21569, 0.636719, 0.0)

// Use these settings for Britney
//#define KEY_COLOR vec4(0.21569, 0.54902, 0.0, 1.0)
//#define MIN_THRESHOLD 0
//#define MAX_THRESHOLD 0.02

// Convert RGB color to LAB space
// (well, really just AB space -- we don't need lightness info)
vec2 RGB_to_AB(vec3 c)
{
  float labA, labB;

    vec3 D65 = vec3(0.9505, 1.0, 1.089);

    float rLinear = c.r;
  float gLinear = c.g;
  float bLinear = c.b;
    
  float r = (rLinear > 0.04045)? pow((rLinear + 0.055)/1.055, 2.2) : (rLinear/12.92) ;
  float g = (gLinear > 0.04045)? pow((gLinear + 0.055)/1.055, 2.2) : (gLinear/12.92) ;
  float b = (bLinear > 0.04045)? pow((bLinear + 0.055)/1.055, 2.2) : (bLinear/12.92) ;

    vec3 f = vec3(r*0.4124 + g*0.3576 + b*0.1805,
                  r*0.2126 + g*0.7152 + b*0.0722,
                  r*0.0193 + g*0.1192 + b*0.9505);
  
    f = clamp(f, vec3(0.), D65) / D65;

  f.x = ((f.x > 0.008856)? pow(f.x, (1.0/3.0)) : (7.787*f.x + 16.0/116.0));
  f.y = ((f.y > 0.008856)? pow(f.y, (1.0/3.0)) : (7.787*f.y + 16.0/116.0));
  f.z = ((f.z > 0.008856)? pow(f.z, (1.0/3.0)) : (7.787*f.z + 16.0/116.0));

  //labL = 116.0f * fy - 16.0f; // L range: [0, 100]
  labA = 500.0 * (f.x - f.y); // A range: [-86.185,  98.254]
  labB = 200.0 * (f.y - f.z); // B range: [-107.863, 94.482]
    
    /* Normalize both to max B range since the A term should be
       weighted less in the Euclidian distance metric */
  return vec2((labA+86.185) / 202.345, (labB+107.863) / 202.345);
}

// RGB->grayscale
float RGB_to_Intensity(vec3 p){ return p.x*0.299 + p.y*0.587 + p.z*0.114; } 

// Squared Euclidian distance between two AB hues
float sqrdDistAB(vec2 a, vec2 b)
{
    vec2 d = vec2(b.x-a.x, b.y-a.y);
    
    return d.x*d.x+d.y*d.y;
}

float cubestep(float a, float b, float x)
{
    float dist = clamp((x-a) / (b-a), 0.0, 1.0);
    
    return pow(dist, 3.);
}

varying vec2 vTextureCoord;
uniform sampler2D uSampler;
void main()
{
  vec2 xy = gl_FragCoord.xy;// / iResolution.xy;
    
    vec4 texColor = texture2D(uSampler, vTextureCoord);
    vec4 bgtexColor = vec4(0.0, 0.0, 0.0, 0.0);
    
    // Convert RGB to AB space (hue only)
    vec2 texAB = RGB_to_AB(texColor.rgb);
    
    // Hue to key out -- hard-coded here
    vec2 keyAB = RGB_to_AB(KEY_COLOR);
    
    // You could also sample it directly from the video, e.g.
    // vec2 keyAB = RGB_to_AB(texture(iChannel0, vec2(0.0, 1.0)).rgb);
    
    float keyDist = sqrdDistAB(keyAB, texAB);
    texColor.a = cubestep(MIN_THRESHOLD, MAX_THRESHOLD, keyDist);
    
    // if(iMouse.z > 0.)
    // {
    //     // Show matte only
    //     fragColor = vec4(vec3(texColor.a), 1.0);
    // } else
    // {
        // WORK IN PROGRESS -- desaturating fringe to hide key color
        float desat = RGB_to_Intensity(texColor.rgb);
        texColor.rgb = mix(texColor.rgb, vec3(desat), 1.0-texColor.a);

        // Premultiply alpha
        texColor.r *= texColor.a;
        texColor.g *= texColor.a;
        texColor.b *= texColor.a;

        //Nuke Merge node over operation.
        //Foreground + (BackGround * (1-Foreground alpha))
        gl_FragColor = texColor+(bgtexColor*(1.0-texColor.a));
    // }
}`

      var uniforms = {};

      PIXI.Filter.call(this, vertexShader, fragmentShader);

      this.uniforms.thresholdSensitivity = 0.4;
      this.uniforms.smoothing = 0.1;
      this.uniforms.colorToReplace = [(37 / 255), (255 / 255), (10 / 255)];
    }

    ChromaFilter.prototype = Object.create(PIXI.Filter.prototype);
    ChromaFilter.prototype.constructor = ChromaFilter;

    var app = new PIXI.Application(window.innerWidth, window.innerHeight, { antialias: true, transparent: true });
    document.body.appendChild(app.view);

    var videoURLs = ["{{ "assets/naked/1.mp4" | absolute_url }}", "{{ "assets/naked/2.mp4" | absolute_url }}", "{{ "assets/naked/3.mp4" | absolute_url }}", "{{ "assets/naked/4.mp4" | absolute_url }}", "{{ "assets/naked/5.mp4" | absolute_url }}", "{{ "assets/naked/6.mp4" | absolute_url }}", "{{ "assets/naked/7.mp4" | absolute_url }}", "{{ "assets/naked/8.mp4" | absolute_url }}", "{{ "assets/naked/9.mp4" | absolute_url }}", "{{ "assets/naked/10.mp4" | absolute_url }}", "{{ "assets/naked/11.mp4" | absolute_url }}", "{{ "assets/naked/12.mp4" | absolute_url }}", "{{ "assets/naked/13.mp4" | absolute_url }}", "{{ "assets/naked/14.mp4" | absolute_url }}"];

    var video = document.createElement("video");
    video.setAttribute('playsinline', 'playsinline');
    video.preload = "auto";
    video.muted = true;
    video.autoplay = true;
    video.oncanplay = addToPIXI;

    var first = true;
    var manyFirst = true;

    var manyVideo = document.createElement("video");
    manyVideo.setAttribute('playsinline', 'playsinline');
    manyVideo.preload = "auto";
    manyVideo.muted = true;
    manyVideo.autoplay = false;
    manyVideo.oncanplay = addManyToPIXI;
    manyVideo.src = "{{ "assets/naked/bodies.mp4" | absolute_url }}";

    var dontclick = document.getElementById("dontclick");
    dontclick.addEventListener("click", function(){
      manyVideo.play();
    });

    video.src = videoURLs[Math.floor(Math.random() * 14)];
    // video.src = "{{ "assets/naked/bodies.mp4" | absolute_url }}"

    video.onended = function(){
      var src = videoURLs[Math.floor(Math.random() * 14)];
      if(video.src !== src) {
        video.src = src;
        console.log(video.src)
      } else {
        console.log("double!")
        video.onended();
      }
    }

    var texture = PIXI.Texture.fromVideo(video);
    var bg = new PIXI.Sprite(texture);

    var manyTex = PIXI.Texture.fromVideo(manyVideo);
    var manybg = new PIXI.Sprite(manyTex);

    function addToPIXI() {
        if(first){
          bg.anchor.x = 0.5;
          bg.anchor.y = 0.5;

          bg.position.x = app.renderer.width / 2;
          bg.position.y = app.renderer.height / 2;

          app.stage.addChild(bg);
          var filter = new ChromaFilter();

          bg.filters = [filter];
          first = false;
          window.setTimeout(resize, 300)
        }
    }

    function addManyToPIXI() {
        if(manyFirst){
          manybg.anchor.x = 0.5;
          manybg.anchor.y = 0.5;

          manybg.position.x = app.renderer.width / 2;
          manybg.position.y = app.renderer.height / 2;

          app.stage.addChild(manybg);
          var filter = new ChromaFilter();

          manybg.filters = [filter];
          manyFirst = false;
          window.setTimeout(resize, 300)
          window.setTimeout(function(){
            manyVideo.pause();
          }, 100);
        }
    }


    function resize(){
      var width = window.innerWidth;
      var height = window.innerHeight;
      app.renderer.resize(width, height)

      if(texture.width/texture.height <= width/height){
        var bgratio = texture.height / texture.width;
        bg.width = manybg.width = app.renderer.width;
        bg.height = manybg.height = app.renderer.width * bgratio;
      } else {
        var bgratio = texture.height / texture.width;
        bg.height = manybg.height = app.renderer.height;
        bg.width = manybg.width = app.renderer.height / bgratio;
      }

      bg.position.x = manybg.position.x = width / 2;
      bg.position.y = manybg.position.y = height / 2;
    }
    window.addEventListener("resize", resize);

  </script>
</footer>
</html>