<!DOCTYPE html>
<html>
{% capture style %}{% include project.scss %}{% endcapture %}
{% include head.html %}
<body>
{% include header.html %}

<section class="project-bgvideo" id="project-bgvideo">
  {{ page.bg-video }}
  <div class="project-bgvideo__poster" id="project-bgvideo__poster" style="background-image: url({{ page.root | absolute_url }}preview.jpg)">
    <div class="project-title__wrapper">
      <h1>{{ page.title }}</h1>
      {% if page.bg-video %} {% include playarrow.svg %} {% endif %}
    </div>
  </div>
</section>
<section class="project-info">
  <h1 class="hidden">Project Info</h1>
  <ul class="project-info__details">
    <div class="project-info__meta">
    <li>
      <h2>Title</h2>
      <p>{{ page.title }}</p>
    </li>
    <li>
      <h2>Medium</h2>
      <p>{{ page.medium }}</p>
    </li>
    <li>
      <h2>Description</h2>
      <p>{{ page.description | markdownify }}</p>
    </li>
    </div>

    <ul class="project-info__performances" id="project-performances">

    <li>
    <h2>Created</h2>
    <p>{{ page.created }}</p>
    </li>

    {% if page.collaborators %}
    <h2>Collaborators</h2>
    {% for collaborator in page.collaborators %}
      <li>
        <ul class="project-info__performance">
          {% if collaborator.url %}
            <li><u><a href="{{ collaborator.url }}" target="_blank">{{ collaborator.person }}</a></u> ~ {{ collaborator.role }}</li>
          {% else %}
            <li>{{ collaborator.person }}</li>
          {% endif %}
        </ul>
      </li>
    {% endfor %}
    {% endif %}

    {% if page.showings %}
    <h2>Select Showings</h2>
    {% for showing in page.showings %}
      <li>
        <ul class="project-info__performance">
          {% if showing.url %}
            <li><u><a href="{{ showing.url }}" target="_blank">{{ showing.text }}</a></u></li>
          {% else %}
            <li>{{ showing.text }}</li>
          {% endif %}
        </ul>
      </li>
    {% endfor %}
    {% endif %}

    {% if page.links %}
    <h2>Links</h2>
    {% for link in page.links %}
      <li>
        <ul class="project-info__performance">
        <li><u><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></u></li>
        </ul>
      </li>
    {% endfor %}
    {% endif %}

    {% if page.awards %}
    <h2>Awards</h2>
    {% for award in page.awards %}
      <li>
        <ul class="project-info__performance">
        {% if award.url %}
          <li><u><a href="{{ award.url }}" target="_blank">{{ award.text }}</a></u></li>
        {% else %}
          <li>{{ award.text }}</li>
        {% endif %}
        </ul>
      </li>
    {% endfor %}
    {% endif %}

    {% if page.press %}
    <h2>Press</h2>
    {% for press in page.press %}
      <li>
        <ul class="project-info__performance">
        {% if press.url %}
          <li><u><a href="{{ press.url }}" target="_blank">{{ press.text }}</a></u></li>
        {% else %}
          <li>{{ press.text }}</li>
        {% endif %}
        </ul>
      </li>
    {% endfor %}
    {% endif %}

    </ul>
    <li id="info-expand">Read more...</li>
  </ul>
</section>
<section class="project-media">
  {% for content in page.documentation limit: 5 %}
    {% capture content_type %}{{ content | downcase }}{% endcapture %}
    {% if content_type contains '.jpeg' or content_type contains '.jpg' or content_type contains '.png' or content_type contains '.gif' %}
      <img src="{{ page.root | absolute_url }}{{ content }}">
    {% else %}
      {{ content }}
    {% endif %}
  {% endfor %}

  {% if page.documentation.size > 5 %}
  <div class="project-media__extra" id="media-extra">
    {% for content in page.documentation offset: 5 %}
      {% capture content_type %}{{ content | downcase }}{% endcapture %}
      {% if content_type contains '.jpeg' or content_type contains '.jpg' or content_type contains '.png' or content_type contains '.gif' %}
        <img src="{{ page.root | absolute_url }}{{ content }}">
      {% else %}
        {{ content }}
      {% endif %}
    {% endfor %}
  </div>
  <div class="project-seemore" id="see-more">
    <span>See more</span>
      <div class="project-seemore__arrow">
    {% include arrow.svg %}
      </div>
    </div>
  {% endif %}
</section>
<section class="project-menu__wrapper">
 <ul class="project-menu">
    <!-- {% for project in site.projects reversed %}
    <li>
      <a href="{{ project.permalink | absolute_url }}">
        <h2>{{ project.title }}</h2>
      </a>
    </li>
    {% endfor %} -->
    <li>
      <a href="{{ site.url }}">
        <h2>HOME</h2>
      </a>
    </li>
  </ul>
</section>

</body>
<script type="text/javascript">
  (function(){
    var button = document.getElementById("project-bgvideo__play");
    var video = document.getElementById("project-bgvideo");
    var img = document.getElementById("project-bgvideo__poster");
    var isPlaying = false;

    if(video.children[0].tagName.toLowerCase() === "iframe"){
      button.onclick = function(e){
        e.preventDefault();
        isPlaying = true;
        if(!video.children[0].src.includes("?")) video.children[0].src += "?";
        video.children[0].src += "&auto_play=true&autoplay=1";
        setTimeout(function(){
        img.style.opacity = button.style.opacity = 0;
        img.style.pointerEvents = "none";
        }, 500)
      }
    }

    var nav = document.getElementById("main-nav");
    var t;
    window.addEventListener("load", resetTimer);
    window.addEventListener("mousemove", resetTimer);
    window.addEventListener("mousedown", resetTimer);
    window.addEventListener("touchstart", resetTimer);
    window.addEventListener("click", resetTimer);
    window.addEventListener("scroll", resetTimer);
    window.addEventListener("keypress", resetTimer);

    function hideNav() {
      nav.style.opacity = 0
      // if(isPlaying){
      //   nav.style.opacity = 0;
      // }
    }

    function resetTimer() {
        clearTimeout(t);
        nav.style.opacity = 1;
        t = setTimeout(hideNav, 500)
        // 1000 milisec = 1 sec
    }

    var expand = document.getElementById("info-expand");
    var performances = document.getElementById("project-performances");

    expand.addEventListener("click", function(){
      expand.innerText = (expand.innerText == "Read more...") ? "Read less..." : "Read more...";
      performances.classList.toggle("expanded");
    });

    var seeMore = document.getElementById("see-more");
    var extraMedia = document.getElementById("media-extra");
    var arrow = seeMore.getElementsByTagName("svg")[0];

    seeMore.addEventListener("click", function(){
      extraMedia.classList.toggle("expanded");
      seeMore.firstElementChild.innerText = (seeMore.firstElementChild.innerText == "See more") ? "See less" : "See more";
      arrow.classList.toggle("rotated");
    })
  })();
</script>
</html>