<!DOCTYPE html>
<html>

{% capture style %}{% include teaching.scss %}{% endcapture %}
{% include head.html %}

<body>

  <article class="teaching">

    <header class="teaching-header">
      <h1>Teaching</h1>
      <a href="javascript:history.back()">{% include arrow.svg %}<h2>back</h2></a>
    </header>
    <div class="teaching-header__dash">----</div>

    
    <section class="teaching-courses">
      <article class="">
        {% for course in page.courses %}
        <h3>{{ course.title }}</h3>
        <br>
        <p>{{ course.description }}</p>
        <p><b>University: </b> {{ course.school }}</p>
        <p><b>Years: </b> {{ course.year }}</p>
        <p><b>Syllabus: </b><u><a href="{{ course.url }}" target="_blank">{{ course.url }}</u></a></p>
        <p>----</p>
        {% endfor %}
      </article>
    </section>

  </article> 
</body>

</html>